h1{
    text-align: center;
    font-size: 22px;
}
a>div{
    font-style: italic;
}


ul> li>ul>li:nth-child(odd){
    background-color: grey;
}
ul > li>ul>li:nth-child(even){
    background-color: white;
}


ol>li>ol>li:nth-child(3):hover{
    cursor: pointer;
}
ol>li>ol>li:nth-child(5):hover{
    cursor: pointer;
}


@media (min-width:992px){
    #bl{
        display: flex;
    }
    #sp1,#sp2{
        flex: 200px;
    }
}